# JWT Configuration
JWT_SECRET=++Fkn0k+=
JWT_EXPIRES_IN=1d

JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=++Fkn0k+=


DEFAULT_ADMIN_NAME=admin
DEFAULT_ADMIN_PASSWORD=pw

DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydb
DB_ROOT_PASSWORD=example

PEPPER=your_pepper_secret_here